<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Backend</title>
    <link rel="shortcut icon" type="image/png" href="~/backend/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/backend/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    @RenderBody()
    
    <script src="~/backend/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/backend/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/backend/js/sidebarmenu.js"></script>
    <script src="~/backend/js/app.min.js"></script>
    <script src="~/backend/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/backend/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/backend/js/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>