@model ProjectModels.News

@{
    ViewData["Title"] = "Create";
    Layout = "_BackendLayout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    @await Html.PartialAsync("~/Views/Backend/_Aside.cshtml")

    <div class="body-wrapper">

        @await Html.PartialAsync("~/Views/Backend/_Header.cshtml")

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Create News</h5>
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="mb-3">
                                    <label asp-for="Title" class="form-label">Title</label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Content" class="form-label">Content</label>
                                    <input asp-for="Content" class="form-control" />
                                    <span asp-validation-for="Content" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Author" class="form-label">Author</label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger form-text"></span>
                                </div>

                                

                                <div class="mb-3">
                                    <label asp-for="PublishDate" class="form-label">PublishDate</label>
                                    <input asp-for="PublishDate" class="form-control" />
                                    <span asp-validation-for="PublishDate" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                <label asp-for="Logo" class="form-label"></label>
                                <input type="file" name="file" class="form-control" />
                                <span asp-validation-for="Logo" class="text-danger form-text"></span>
                        </div>






                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
