@model ProjectModels.Products

@{
    ViewData["Title"] = "Create";
    Layout = "_BackendLayout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    @await Html.PartialAsync("~/Views/Backend/_Aside.cshtml")

    <div class="body-wrapper">

        @await Html.PartialAsync("~/Views/Backend/_Header.cshtml")

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Create Product</h5>
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="CategoryId">Category</label>
                                    <select asp-for="CategoryId" class="form-control">
                                        <option value="">Select Category</option>
                                        @if (ViewBag.Categories != null)
                                        {
                                            foreach (var category in ViewBag.Categories)
                                            {
                                                <option value="@category.Value">@category.Text</option>
                                            }
                                        }
                                    </select>
                                </div>




                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Slug" class="form-label">Slug</label>
                                    <input asp-for="Slug" class="form-control" />
                                    <span asp-validation-for="Slug" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Quantity" class="form-label">Quantity</label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Photo" class="form-label"></label>
                                    <input type="file" name="file" class="form-control" />
                                    <span asp-validation-for="Photo" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Descrption" class="form-label">Description</label>
                                    <input asp-for="Descrption" class="form-control" />
                                    <span asp-validation-for="Descrption" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="OriginalPrice" class="form-label">Original Price</label>
                                    <input asp-for="OriginalPrice" class="form-control" />
                                    <span asp-validation-for="OriginalPrice" class="text-danger form-text"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="SellingPrice" class="form-label">Selling Price</label>
                                    <input asp-for="SellingPrice" class="form-control" />
                                    <span asp-validation-for="SellingPrice" class="text-danger form-text"></span>
                                </div>





                                <div class="form-check mb-3">
                                    <input asp-for="Trending" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Trending</label>
                                </div>

                                <div class="form-check mb-3">
                                    <input asp-for="Featured" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Featured</label>
                                </div>

                                <div class="form-check mb-3">
                                    <input asp-for="status" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Status</label>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
