@model ProjectModels.Team

@{
    ViewData["Title"] = "Create";
    Layout = "_BackendLayout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    @await Html.PartialAsync("~/Views/Backend/_Aside.cshtml")

    <div class="body-wrapper">

        @await Html.PartialAsync("~/Views/Backend/_Header.cshtml")

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Create Team</h5>
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Create" asp-controller="Team" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="mb-3">
                                    <label asp-for="TeamName" class="form-label"></label>
                                    <input asp-for="TeamName" class="form-control" />
                                    <span asp-validation-for="TeamName" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="TeamCity" class="form-label"></label>
                                    <input asp-for="TeamCity" class="form-control" />
                                    <span asp-validation-for="TeamCity" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="TeamStadium" class="form-label"></label>
                                    <input asp-for="TeamStadium" class="form-control" />
                                    <span asp-validation-for="TeamStadium" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="CoachName" class="form-label"></label>
                                    <input asp-for="CoachName" class="form-control" />
                                    <span asp-validation-for="CoachName" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Website" class="form-label"></label>
                                    <input asp-for="Website" class="form-control" />
                                    <span asp-validation-for="Website" class="text-danger form-text"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Logo" class="form-label"></label>
                                    <input type="file" name="file" class="form-control" />
                                    <span asp-validation-for="Logo" class="text-danger form-text"></span>
                                </div>

                                <!-- Hiển thị thông báo lỗi nếu có -->
                                @if (!string.IsNullOrEmpty(ViewBag.errormsg))
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.errormsg
                                    </div>
                                }
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
