@model ProjectModels.Match

@{
    ViewData["Title"] = "Edit";
    Layout = "_BackendLayout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    @await Html.PartialAsync("~/Views/Backend/_Aside.cshtml")

        <div class="body-wrapper">

        @await Html.PartialAsync("~/Views/Backend/_Header.cshtml")

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Create Match</h5>
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="HomeTeamId" class="control-label">HomeTeam</label>
                                    <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                                    <span asp-validation-for="HomeTeamId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AwayTeamId" class="control-label">AwayTeam</label>
                                    <select asp-for="AwayTeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                                    <span asp-validation-for="AwayTeamId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MatchTime" class="control-label"></label>
                                    <input asp-for="MatchTime" class="form-control" />
                                    <span asp-validation-for="MatchTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Stadium" class="control-label"></label>
                                    <input asp-for="Stadium" class="form-control" />
                                    <span asp-validation-for="Stadium" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Result" class="control-label"></label>
                                    <input asp-for="Result" class="form-control" />
                                    <span asp-validation-for="Result" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
